NEXT_PUBLIC_RPC_URL = 
NEXT_PUBLIC_PRIVATE_KEY =
NEXT_PUBLIC_CONTRACT_ADDRESS =

API KEY = 104e0e7288d2e08641eb
API SECRET = 5c3345e2fd9106e5824d27e992670d355a9ec4693c980f5fc3ec8a083fcc8875
jwt_secret = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI5MmM0ZGQ5Mi1kNzcxLTRlZTEtOTM3OC1jNTk5OWI4NzRjYWUiLCJlbWFpbCI6InBhdmFuLnMuZ3VwdGFAc2xydGNlLmluIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjEwNGUwZTcyODhkMmUwODY0MWViIiwic2NvcGVkS2V5U2VjcmV0IjoiNWMzMzQ1ZTJmZDkxMDZlNTgyNGQyN2U5OTI2NzBkMzU1YTllYzQ2OTNjOTgwZjVmYzNlYzhhMDgzZmNjODg3NSIsImV4cCI6MTc4NTY3MzMxOH0.A5TwWbdtxs0Tbw652aTDfqFwm9THYv8TDBV2N7GJbCw